/*
--------------------- AANZETTEN ZODRA IK KLAAR BEN CODEREN --------------
#framework {
    display: none;
}
*/

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}


.titleSection {
    display: flex;
    justify-content: center;
}

#selectYear {
    margin-left: 1em;
}

.filterSection {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.filterSection > div {
    margin: 0 1em;
}

#map-holder > svg {
    padding: 3em 1em 1em 1em;
    overflow: visible;
}

