/*
--------------------- AANZETTEN ZODRA IK KLAAR BEN CODEREN --------------
#framework {
    display: none;
}
*/

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

#framework {
    margin-top: 2em;
}

#app {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 20% 80%;
}

#slideFilter {
    grid-column: 2;
}

#countZorgBedrijven {
    text-align: center;
}

path {
    color: transparent;
}

#viz-holder svg {
    display: block;
    margin: 0 auto;
    cursor: grab;
}

#viz-holder svg:active {
    cursor: grabbing;
}
.titleSection {
    display: flex;
    justify-content: center;
}
.titleSection h3 {
    font-weight: 700;
    margin: 0;
}

#selectYear {
    margin-left: 0.1em;
    background: none;
    border: none;
    color: #7f6ddd;
    font-weight: 700;
    font-size: 1.7em;
}

.filterSection {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.filterSection > div {
    margin: 0 1em;
}

#map-holder > svg {
    padding: 3em 1em 1em 1em;
    overflow: visible;
}

#slider-container {
    position: relative;
    height:30px;
    background-color: #eeeef5;
    margin: 0 auto;
    width: 67%;
}

#range-label {
    text-align: center;
}

.tooltip {
    cursor: pointer;
}
