#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 60px 0 0 20px;
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#completeDataViz {
    transition: margin-left .5s;
    padding: 20px;
}